.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.post-meta {
  opacity: .6;
}

.post-list {
  padding-top: 10px;
  padding-bottom: 20px;
}

.post-item {
  margin-bottom: 20px;
}

.form-error {
  color: #ff7272;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: inherit !important;
}
