<h2>Feeds</h2>
<hr />

<blockquote>
  <p style="margin-top: 0">
    Feeds are your personalized collections of article sources. You can create feeds from
    multiple sources and myfeed will create chronological article feed from provided feed sources.
  </p>
  <a href="/feeds/create">Create a new feed</a>
</blockquote>

<div>
  {{ range .Feeds -}}
  <div>
    <p>
      <strong><a href="/feeds/{{ .Id }}">{{ .Name }}</a></strong><br/>
      <small><a href="/feeds/{{ .Id }}/edit">Edit</a></small>
    </p>
  </div>
  {{- end }}
</div>