<h1>Welcome to MyFeed!</h1>

<p>
  Imagine there's a meaningful paragraph full of things written to convince you to
  start using this website. I wanted to write lots of interesting sentences with
  full nonsense buzzwords to believe that this website will solve every problem of
  your website. But, no, this is just a simple website that will aggregate feeds
  from different sources and deliver them to you on a clear screen.
</p>

<p>
  That's it. No more bullsh*t. No features to convince you to start paying me by
  making you believe that you can't live without shared notes on your feed reader. Like wtf?
</p>

<div>
  {{ if .User -}}
  {{ with .Feeds }}
  <h2>Your feeds</h2>
  {{ range . -}}
  <h3><a href="/feeds/{{ .Id }}">{{ .Name }}</a></h3>
  {{- end }}
  {{- else -}}
  <a href="/feeds"><button>Browse feeds</button></a>
  {{- end }}
  {{- else -}}
  <a href="/register"><button>Create an account</button></a>
  <span>or</span>
  <a href="/login">log in</a>
  {{- end }}
</div>
