<h2>Get Started with Myfeed</h2>
<hr />

<form method="post">
    {{ with .Error -}}
    <div class="form-error">
        <p>{{ . }}</p>
    </div>
    {{- end }}

    <div class="form-group">
        <label for="username" class="form-label">Username:</label>
        <input type="text" class="form-control" name="username" id="username" autocomplete="username" required />
    </div>

    <div class="form-group">
        <label for="email" class="form-label">Email:</label>
        <input type="email" class="form-control" name="email" id="email" required />
    </div>

    <div class="form-group">
        <label for="password" class="form-label">Password:</label>
        <input type="password" class="form-control" name="password" id="password" autocomplete="password" required />
    </div>

    <button type="submit">Continue</button>

    <hr/>
    <a href="/login">Already have an account?</a>
</form>